<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>myPage 오신걸 환영합니다.</h1>


  <header style="border: #aaa; margin-bottom: 10px; padding-bottom: 10px">
    <nav>
      <a href="/">홈</a>
      <a href="/myPage">마이페이지</a>
      <a href="/">찾아오시는 길</a>
      <a href="/">문의하기</a>
    </nav>

  </header>

  <footer>
    <hr>
    coptright sinsincoccr all right reserved.
  </footer>

</body>
</html>
